
.flexcroll2{
        width:550px;
				height:500px;
				margin-top: 20%;
				margin-left: -50px;
				overflow:scroll;
			 }
.flexcroll2{
scrollbar-face-color: white;

}

/* Let's get this party started */
.flexcroll2::-webkit-scrollbar {
width: 6px;
}

/* Handle */
.flexcroll2::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(255,0,0,0.8);
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.flexcroll{
  width:80%;
  height:90%;
  overflow:scroll;
	float: right;
  margin: 20px auto;
           }

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 6px;
}


/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
