.contact {
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 1px, #465298 1px, #465298 5px);
    border:1px solid aqua;
    padding: 2em;
    box-shadow: 10px 10px 5px grey;
    max-width: 250px;
    margin-top: 75px;
    margin-bottom: 100px;
    height: 200px;


}

.contact-selfie {
	box-shadow: 10px 10px 5px grey;
  width: 100%;

  margin-bottom: -100px;

}

.contact-header-space {
  height: 20px;
}
.contact-container {
  margin: auto;
  height: 100%;
  padding-bottom: 10%;
}

.contact-header {
  font-size:6em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 25px;
  color: white;
  text-shadow: 10px 2px red;
}

.contact-button {
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;

}

.contact-button:hover {
    animation: jiggle 10s infinite;
}
@keyframes jiggle {
  0% {transform: rotate(0deg) scale(1.5,1.5);}
  100% {transform: rotate(0deg) scale(1.5,1.5);}

}
