/* GLOBAL STYLEISED FONT */

.mitch-header {
    font-size:6em;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 10px 2px red;
    letter-spacing: 1em;
}

.events-header {
	letter-spacing: 20px;
}

.contact-header {
    font-size:5em;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 10px 2px red;
    letter-spacing: 1em;
}

.contact-header-chat {
  letter-spacing: .4em;
  font-size: 2em;
  text-shadow: 3px 1px red;
  font-weight: bold;
  text-align: center;
  color: white;
}

.footer-style {
    font-size:10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: .5em;
    color: white;
    text-shadow: 2px 1px red;
    position: relative;
    bottom: 0;
}

.mitch-sider {
    font-size:7em;
    font-weight: bold;
    padding-top:.5em;
    padding-bottom: .5em;
    text-align: center;
    color: white;
    text-shadow: 10px 2px red;
    letter-spacing: 1em;
}

a.green:hover { color: #1ace84;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.purple:hover { color: #a262c0;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.teal:hover { color: #4ac0aa;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.violet:hover { color: aqua;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.pink:hover { color: #d529cd;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}

a.green:visted { color: pink;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.purple:visted { color: pink;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.teal:visted { color: pink;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.violet:visted { color: pink;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.pink:visted { color: pink;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}

a.green { color: #1ace84;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.purple { color: #a262c0;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.teal { color: #4ac0aa;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.violet { color: aqua;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}
a.pink { color: #d529cd;  background-color:transparent; text-decoration:none; text-shadow: 5px 3px white}

a.one {color: pink; text-shadow: 5px 3px white; text-decoration: none;}



    h1 span{-webkit-transition: width .25s, height .25s, -webkit-transform .25s; /* Safari */
    transition: width .25s, height .25s, transform .25s;}

    h1 span:hover{    -webkit-transform: translateY(.5em); /* Safari */
    transform: translateY(.5em);}

    h1 .char1         {display: inline-block; -webkit-transform: rotate(-25deg);}
    h1 .char2         {display: inline-block; -webkit-transform: rotate(30deg);}
    h1 .char3         {display: inline-block; -webkit-transform: rotate(-10deg);}
    h1 .char4         {display: inline-block; -webkit-transform: rotate(15deg);}
    h1 .char5         {display: inline-block; -webkit-transform: rotate(-20deg);}
    h1 .char6         {display: inline-block; -webkit-transform: rotate(15deg);}
    h1 .char7         {display: inline-block; -webkit-transform: rotate(-20deg);}



    h1 .char1:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char1:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char1:hover   {color:purple; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char1:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char2:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char2:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char2:hover   {color:aqua; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char2:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char3:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char3:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char3:hover   {color:green; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char3:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char4:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char4:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char4:hover   {color:grey; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char4:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char5:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char5:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char5:hover   {color:orange; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char5:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}

    h1 .char6:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char6:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char6:hover   {color:purple; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char6:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char7:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char7:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char7:hover   {color:aqua; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char7:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char8:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char8:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char8:hover   {color:green; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char8:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char9:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char9:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char9:hover   {color:grey; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char9:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}

    h1 .char11:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char11:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char11:hover   {color:orange; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char11:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char12:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char12:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char12:hover   {color:purple; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char12:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h1 .char13:link    {color:white; background-color:transparent; text-decoration:none;}
    h1 .char13:visited {color:white; background-color:transparent; text-decoration:none;}
    h1 .char13:hover   {color:aqua; background-color:transparent; text-decoration:none; background-color: yellow;}
    h1 .char13:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}

    h2 span{-webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
    transition: width 1s, height 1s, transform 1s;}

    h2 span:hover{    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);}

    h2 .char1         {display: inline-block; -webkit-transform: rotate(-25deg);}
    h2 .char2         {display: inline-block; -webkit-transform: rotate(30deg);}
    h2 .char3         {display: inline-block; -webkit-transform: rotate(-10deg);}
    h2 .char4         {display: inline-block; -webkit-transform: rotate(15deg);}
    h2 .char5         {display: inline-block; -webkit-transform: rotate(-20deg);}
    h2 .char6         {display: inline-block; -webkit-transform: rotate(15deg);}
    h2 .char7         {display: inline-block; -webkit-transform: rotate(-20deg);}
    h2 .char8         {display: inline-block; -webkit-transform: rotate(30deg);}
    h2 .char9         {display: inline-block; -webkit-transform: rotate(-10deg);}
    h2 .char10         {display: inline-block; -webkit-transform: rotate(15deg);}
    h2 .char11         {display: inline-block; -webkit-transform: rotate(-20deg);}
    h2 .char12         {display: inline-block; -webkit-transform: rotate(15deg);}
    h2 .char13         {display: inline-block; -webkit-transform: rotate(-20deg);}



    h2 .char1:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char1:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char1:hover   {color:purple; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char1:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char2:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char2:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char2:hover   {color:aqua; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char2:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char3:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char3:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char3:hover   {color:green; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char3:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char4:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char4:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char4:hover   {color:grey; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char4:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char5:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char5:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char5:hover   {color:orange; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char5:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}

    h2 .char6:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char6:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char6:hover   {color:purple; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char6:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char7:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char7:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char7:hover   {color:aqua; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char7:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char8:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char8:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char8:hover   {color:green; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char8:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char9:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char9:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char9:hover   {color:grey; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char9:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char10:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char10:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char10:hover   {color:orange; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char10:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char11:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char11:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char11:hover   {color:grey; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char11:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}


    h2 .char12:link    {color:white; background-color:transparent; text-decoration:none;}
    h2 .char12:visited {color:white; background-color:transparent; text-decoration:none;}
    h2 .char12:hover   {color:orange; background-color:transparent; text-decoration:none; background-color: yellow;}
    h2 .char12:active  {color:white; background-color:transparent; text-decoration:none; background-color: yellow;}

		h6 .char1:hover   {color:purple; background-color:transparent; text-decoration:none;}

		h6 .char2:hover   {color:aqua; background-color:transparent; text-decoration:none;}

		h6 .char3:hover   {color:green; background-color:transparent; text-decoration:none;}

		h6 .char4:hover   {color:grey; background-color:transparent; text-decoration:none;}

		h6 .char5:hover   {color:orange; background-color:transparent; text-decoration:none;}

		h6 .char6:hover   {color:purple; background-color:transparent; text-decoration:none;}

		h6 .char7:hover   {color:aqua; background-color:transparent; text-decoration:none;}

		h6 .char8:hover   {color:green; background-color:transparent; text-decoration:none;}

		h6 .char9:hover   {color:grey; background-color:transparent; text-decoration:none;}

		h6 .char10:hover   {color:orange; background-color:transparent; text-decoration:none;}

		h6 .char11:hover   {color:purple; background-color:transparent; text-decoration:none;}

		h6 .char12:hover   {color:aqua; background-color:transparent; text-decoration:none;}

		h6 .char13:hover   {color:green; background-color:transparent; text-decoration:none;}

    footer .char1:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char1:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char1:hover   {color:purple; background-color:transparent; text-decoration:none;}
    footer .char1:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char2:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char2:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char2:hover   {color:aqua; background-color:transparent; text-decoration:none;}
    footer .char2:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char3:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char3:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char3:hover   {color:green; background-color:transparent; text-decoration:none;}
    footer .char3:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char4:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char4:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char4:hover   {color:grey; background-color:transparent; text-decoration:none;}
    footer .char4:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char5:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char5:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char5:hover   {color:orange; background-color:transparent; text-decoration:none;}
    footer .char5:active  {color:white; background-color:transparent; text-decoration:none;}

    footer .char6:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char6:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char6:hover   {color:purple; background-color:transparent; text-decoration:none;}
    footer .char6:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char7:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char7:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char7:hover   {color:aqua; background-color:transparent; text-decoration:none;}
    footer .char7:active  {color:white; background-color:transparent; text-decoration:none;}

    footer .char8:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char8:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char8:hover   {color:purple; background-color:transparent; text-decoration:none;}
    footer .char8:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char9:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char9:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char9:hover   {color:aqua; background-color:transparent; text-decoration:none;}
    footer .char9:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char10:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char10:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char10:hover   {color:green; background-color:transparent; text-decoration:none;}
    footer .char10:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char11:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char11:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char11:hover   {color:grey; background-color:transparent; text-decoration:none;}
    footer .char11:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char12:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char12:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char12:hover   {color:orange; background-color:transparent; text-decoration:none;}
    footer .char12:active  {color:white; background-color:transparent; text-decoration:none;}

    footer .char13:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char13:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char13:hover   {color:purple; background-color:transparent; text-decoration:none;}
    footer .char13:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char14:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char14:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char14:hover   {color:aqua; background-color:transparent; text-decoration:none;}
    footer .char14:active  {color:white; background-color:transparent; text-decoration:none;}

    footer .char15:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char15:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char15:hover   {color:purple; background-color:transparent; text-decoration:none;}
    footer .char15:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char16:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char16:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char16:hover   {color:aqua; background-color:transparent; text-decoration:none;}
    footer .char16:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char17:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char17:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char17:hover   {color:green; background-color:transparent; text-decoration:none;}
    footer .char17:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char18:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char18:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char18:hover   {color:grey; background-color:transparent; text-decoration:none;}
    footer .char18:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char19:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char19:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char19:hover   {color:orange; background-color:transparent; text-decoration:none;}
    footer .char19:active  {color:white; background-color:transparent; text-decoration:none;}

    footer .char20:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char20:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char20:hover   {color:purple; background-color:transparent; text-decoration:none;}
    footer .char20:active  {color:white; background-color:transparent; text-decoration:none;}


    footer .char21:link    {color:white; background-color:transparent; text-decoration:none;}
    footer .char21:visited {color:white; background-color:transparent; text-decoration:none;}
    footer .char21:hover   {color:aqua; background-color:transparent; text-decoration:none;}
    footer .char21:active  {color:white; background-color:transparent; text-decoration:none;}
